{% extends "base.html" %}
{% load static %}

{% block title %}
  {% if object == request.user %}
    Hello {{ object.username }}
  {% else %}
    Get Lost
  {% endif %}
{% endblock %}

{% block content %}
{% if object == request.user %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
      {% if object.bio %}
        <p>{{ object.bio|linebreaksbr }}</p>
      {% endif %}
    </div>
  </div>

  
  <!-- Action buttons -->
  <div class="row">

    <div class="col-sm-12">
      <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
      <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
      <a class="btn btn-primary" href="{% url 'temperaturelogger:addTemperature' %}" role="button">New Temperature</a>
      <!-- Your Stuff: Custom user template urls -->
    </div>

  </div>
  <!-- End Action buttons -->
  
  <div>
    <h2>My Temperatures</h2>
  </div>
  <ul>
    {% for temp in temperaturelist %}
        <li>{{temp}}</li>
    {% endfor %}
  </ul>
  
</div>
{% else %}
<h2> If {{object.username}}, please log in. </h2>
{% endif %}
{% endblock content %}

